/*
version: 1.0.0
*/
@import url("/CSS/SquireReset.css");


/*main styles*/
html{
	height: 100%;
}

body{
	font-family: Tahoma, Arial, sans-serif;
	min-height: 100%;
	/*padding-top: 25px;*/
	color: #000;
}

p{
	font-size: 12px;
	color: #000;	
}

a{
	text-decoration: none;
	outline: none;
	color: #000;
	font-size: 14px;
}

a:hover{
	text-decoration: underline;
	outline: none;
	color: #000000;
	font-size: 14px;
}

#all{
	width: 1004px;
	background: #fff;
	margin: 0 auto;
}


/*header*/
#header{
	height: 128px;
	background: url(../Contents/images/header.png) no-repeat bottom;
}

#logo{
	float: left;
	margin: 20px 0 0 28px;	
}

#slogan{
	float: left;
	margin: 35px 0 0 166px;
}

#slogan p{
	font-family: Calibri;
	font-size: 36px;
	font-weight:bold;
}

#lang{
	float: right;
	margin: 16px 26px 0 0;	
}

#search{
	float: right;
	margin: 60px 28px 20 62px;
	/*width:*/	
}


/*menu*/
#menu{
	height: 30px;	
}

#line_top{
	float: left;
	margin: 0 0 0 28px;		
}

#button{
	float: left;
	margin: -4px 0 0 28px;
}

#db{
    float: left;
	margin: 0 0 0 28px;	
    height:100%;
}

#table_style{
    width: 100%;
    height: 100%;
}

#col1 {
    width: 25%;
}
 
#col2 {
    width: 65%; 
    text-align: left;
}

#col3 {
    width: 5%; /* Ширина второй колонки */
    text-align: left; /* Выравнивание по правому краю */
}

#col4 {
    width: 5%; /* Ширина второй колонки */
    text-align: left; /* Выравнивание по правому краю */
}

#col1, #col2, #col3 {
    vertical-align: top; /* Выравнивание по верхнему краю */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    background: #ffd
}

/*content*/
#content{
	height: 540px;
}

#full{
	float: left;
	margin: 8px 0 0 28px;
}

#small_left{
	float: left;
	margin: 12px auto 0 28px;
}

#small_center{
	float: left;
	margin: 12px auto 0 14px;
}

#small_right{
	float: right;
	margin: 12px 24px 0 auto;
}


/*footer*/
#footer{
	/*height: 200px;*/
    height: 100%;	
}

#line_down{
	float: left;
	margin: 0 0 0 28px;
}
 
#service{
	float: left;
	margin: 10px auto 0 28px;
}

#consulting{
	float: left;
	margin: 10px auto 0 70px;
}

#training{
	float: right;
	margin: 12px 24px 0 auto;
}


/*footer_c*/
#footer_c{
	/*height: 48px;*/
    height: 100%;	
}

#mini_logo{
	float: left;
	margin: 0 0 0 28px;
}

#copy{
	float: left;
	margin: 35px 0 0 10px;
}
